.input {
  @apply min-w-32 w-80 rounded-3xl px-3 py-1 text-black border-2 animatedInput duration-300;
}

.animatedInput {
  transition: padding 0.3s ease;
}

.animatedInput::placeholder {
  color: #777777;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.animatedInput:focus::placeholder {
  opacity: 0.3;
}

.animatedInput:focus {
  padding-left: 1.3rem;
  outline: none;
}

.select {
  @apply min-w-32 w-80 rounded-3xl px-2 py-1 text-black border-2 animatedSelect;
  background-color: white;
  border-radius: 1.5rem;
}

.animatedSelect {
  transition: padding 0.3s ease;
}

.animatedSelect::placeholder {
  color: #aaa;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.animatedSelect:focus::placeholder {
  opacity: 0.3;
}

.animatedSelect:focus {
  padding-left: 1.3rem;
  outline: none;
}

.option {
  border-radius: 1rem;
  padding: 199rem;
}


