.input {
  @apply   min-w-32 w-80 rounded-3xl px-3 py-1 text-black border-2 animated-input duration-300;
}


.animated-input {
  transition: padding 0.3s ease;
}

.animated-input::placeholder {
  color: #aaa;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.animated-input:focus::placeholder {
  opacity: 0.3;
}

.animated-input:focus {
  padding-left: 1.3rem;
  outline: none;
}





.select {
  @apply min-w-32 w-80 rounded-3xl px-3 py-1 text-black border-2 animatedSelect;
  appearance: none;
  background-color: white;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.animatedSelect {
  transition: padding 0.3s ease;
}

.animatedSelect::placeholder {
  color: #aaa;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.animatedSelect:focus::placeholder {
  opacity: 0.3;
}

.animatedSelect:focus {
  padding-left: 1.3rem;
  outline: none;
}

.option {
  border-radius: 1rem;
  padding: 6rem;
}

.selectContainer {
  position: relative;
  display: inline-block;
}

.selectContainer::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}